.grid-view {

}

.grid-group {
    font-size: 0;
}

.grid-item {
    font-size: 13px;
    margin: 2px;
    border-radius: 4px;
    height: 180px;
    width: 180px;
    display: inline-block;
    background: #3bb681;
}

.grid-item-img {
}

.grid-item-label {
}

.grid-item-price {
}

.grid-paging {
    height: 50px;
    margin: 5px 0px;
    text-align: center;
}

.grid-num {
    display: inline-block;
    height: 100%;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-family: "Segoe UI light";
    vertical-align: top;
    margin: 0px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.grid-num:hover {
    background-color: #EEE;
}
.grid-num.active{
    color: #3bb681;
    border: 1px solid;
}

.grid-prev {
    background: url("../images/ico/arrow.png") no-repeat center -50px;
}
.grid-prev:hover {
    background: url("../images/ico/arrow.png") no-repeat center 0px #EEE;
}
.grid-next {
    background: url("../images/ico/arrow.png") no-repeat center -150px;
}
.grid-next:hover {
    background: url("../images/ico/arrow.png") no-repeat center -100px #EEE;
}