.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    height: 30px;
    line-height: 30px;
    text-indent: 30px;
    position: relative;
    -webkit-transition: all 100ms linear;
    cursor: pointer;
    background: url("../images/ico/bullet-s-1.png") no-repeat 5px center;
}

.menu-item .menu-item-txt {
    position: relative;
    z-index: 10;
}

.menu-item .menu-item-icon {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    z-index: 20;
    background: url("../images/ico/arrow-left.png") no-repeat center;

}
.menu-item > i {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 100%;
    z-index: 0;
    -webkit-transition: all 100ms linear;
}

.menu-item:hover {
    /*background-color: #45B887;*/
    /*background-color: rgba(235, 200, 135, 1);*/
    color: #FFF;
    background: url("../images/ico/bullet-s.png") no-repeat 5px center rgba(235, 200, 135, 1);
}

.menu-item:hover > i {
    background-color: rgba(69, 184, 135, 0.6);
}

.support-title {
    padding: 5px 10px;
    color: rgba(168, 123, 39, 1);
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}
.support div.content {
    margin-left: 15px;
    color: rgba(58, 54, 47, 1);
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    margin-top: 5px;
}
.support div.content span {
    color: rgba(168, 123, 39, 1);
}